{% extends "pages/layout.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Vous êtes actuellement authentifié comme {{ user.email }}, avec les informations suivantes :</p>

        <table class="table">
            <thead>
            <tr>
                <th>Champ</th>
                <th>Valeur</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>first_name</th>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <th>last_name</th>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <th>city</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>country_code</th>
                <td>{{ user.country_code }}</td>
            </tr>
            </tbody>
        </table>

        <p>
            <a href="{% url "api:profil" %}">Jetez aussi un coup d'oeil à cette vue d'API</a>
        </p>

        <p>
            <a href="{% url "accounts:deconnexion" %}">Se déconnecter</a>.
        </p>
    {% else %}
        Vous n'êtes pas authentifié. <a href="{% url "accounts:connexion" %}">Connectez-vous</a>
    {% endif %}


{% endblock %}
